:root {
    --lightestPink: #fdedf3;
    --lightPink: #f7bad3;
    --darkPink: #d84f74;
    --lightPurple: #d09df4;
    --darkPurple: #4e1acf;
}

html {
    background: var(--lightestPink);
}

header {
    text-align: center;
    padding: 15px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background: var(--lightPink);
    align-items: right;
    z-index: 3;
    backdrop-filter: blur(10px);
}

header a,
header a:visited {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 25px;
}

header a:hover {
    color: var(--lightPurple);
}
